@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body{
    background-color: rgb(245, 247, 255) ;
    width: 100%;
    margin: auto;
}

.ham{
   display: none;
}

.container{
     max-width: 1330px;
     margin: auto;
}

.logo{
    width: 6rem;
}

nav{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgb(245, 247, 255) ;
}

.subnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    
}

ul{
    gap: 5rem;
    display: grid;
    grid-auto-flow: column;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
}

.hpa{
    width: 50%;
    gap: 4;
    line-height: 1.2;
}

h1{
    font-size: 50px;
    width: 50%;
    font-weight: 900;
}
.p{
    width: 70%;
    font-size: 20px;
    font-weight: 500;
}

.waitlist {
    padding: 1rem 2.5rem;
    background-color: rgb(104, 104, 218);
    border-radius: 30px;
    color: white;
    border: none;
    font-size: 16px;
}

.waitlist2 {
    padding: 1rem 2.5rem;
    background-color: rgb(104, 104, 218);
    border-radius: 30px;
    color: white;
    border: none;
    font-size: 16px;
}


header{
    display: flex;
    justify-content: space-between;    
    margin:  15% auto 0;
}

.hd{
    width: 50%;
}

.move{
    margin-top: 20%;
    margin-bottom: 5%;
}

.bbc{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: auto;
    padding: 0;
}
.wf{
        text-align: center;
}
.wp{
    width: 100%;
    padding: 5%;
    font-size: 30px;
    font-weight: 900;
}

h4{
    padding: 0 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}
.lol{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 14px auto 0;
    align-items: center;
}

.one{
    text-align: center;
    width: 497px;
    background-color: #eceeff;
}

img{
    padding-top: 20px;
    width: 12rem;
}

.wto{
    text-align: center;
    padding: 30px;
}

.two{
    display: flex;
    justify-content: space-between;
    gap: 300px;
    place-items: center;

}
.two:nth-of-type(odd){
    flex-direction: row-reverse;
    margin: 0 200px 0 100px;
}
p{  
    line-height: 1.4;
    font-size: 13px;
}

.hp2{
    width: 300px;
    line-height: 1;
    text-align: left;
    margin: auto;

}

.img2{
    margin: 0 50px;
    width: 24rem;
}

.Fqa{
    text-align: center;
    padding: 14px;
    
}

.h6{
    background-color:#eff2ff;
    padding: 20px;
    font-size: 20px;
    margin: 0;
}
.fqa{
    text-align: left;
    width: 700px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.empty{
    position: absolute;
    left: 150px;
    top: -40px;
    background-color: #7aa1fc;
    height: 400px;
    width: 800px;
    z-index: -1; 
}



.input{
    text-align: center;
    background-color: #eceeff;
    height: 500px;
    width: 950px;
    margin: 150px auto ;
    
}

h5{
    margin-bottom: 10px;
    margin-top: 6px ;
}

.jayson{
    padding-top: 100px;
    margin: 0;
    padding-bottom: 0;
    font-size: 40px;
    font-weight: 500;
}

form{
    padding-bottom: 30px;
}

.kk{
    position: relative;
}

.three{
    width: 500px;
    border-radius: 9px;
    padding: 17px;
    margin-bottom: 15px;
    gap: 10px;
    border: 1px solid  black;
}

.footer-container{
    display: flex;
    justify-content: center;
    gap: 90px;
    color: white;
}

.footer-container .fcm img {
    object-fit: contain;
    height: 41px;
    width: 96px;
}

footer{
    background-color: #010932;
    width: 100%;
}

.cu,.em{
    margin: 7px;
}

.fig {
    max-width: 400px;
}

@media screen and (max-width: 1500px) {
    .container{
        max-width: 950px;
        margin: auto;
   }
   
   .logo{
       width: 6rem;
   }
   
   .subnav {
       width: 1000px;
       
   }
   
   
   .hpa{
       width: 50%;
       gap: 4;
       line-height: 1.2;
   }
   
   h1{
       width: 400px;
   }
   .p{
       width: 500px;
       font-size: 20px;
       font-weight: 500;
   }
   
   .hd{
       width: 800px;
   }
   
   .move{
       margin-bottom: 10%;
   }
   
   .bbc{
       position: absolute;
       z-index: -1;
       top: 0;
       right: 0;
       width: 650px;
       padding: 0;
   }
   .wf{
           text-align: center;
   }
   .wp{
       width: 100%;
       padding: 5%;
       font-size: 30px;
       font-weight: 900;
   }
   
   h4{
       padding: 0 20px;
       text-align: left;
       font-size: 16px;
       font-weight: 500;
   }
   .lol{
       gap: 1px;
       margin: 14px auto 0;
       align-items: center;
   }
   
   .one{
       width: 310px;
       height: 500px;
   }
   
   img{
       padding-top: 10px;
       width: 12rem;
   }
   
   .wto{
       text-align: center;
       padding: 30px;
   }
   
   .two{
       gap: 100px;
   
   }
   .two:nth-of-type(odd){
       flex-direction: row-reverse;
       margin: 0 100px 0 80px;
   }
   
   .hp2{
       width: 300px;

   
   }
   
   .img2{
       margin: 0 30px;
       width: 20rem;
   }
   
   .h6{
       padding: 20px;
       font-size: 15px;
   }
   .fqa{
       width: 600px;
       gap: 7px;
   }

   .kk{
    position: relative;
}
   
   .empty{
       left: 120px;
       top: -30px;
       width: 600px;
   }
   
   
   
   .input{
       width: 650px;
   }
   
   form{
       padding-bottom: 30px;
   }
   
   .three{
       width: 400px;
       padding: 13px;
       gap: 6px;
   }
   
}



@media screen and (max-width: 1000px) {

    
    .container{
        max-width: 650px;
         margin: auto;
    }
    
    .logo{
        width: 6rem;
    }
    
    nav{
        margin: 0 auto;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: rgb(245, 247, 255) ;
    }

    .ham2{
      display: flex;
      gap: 300px;
      justify-content: space-between;
    }
    .ham{
        display: block;
        width: 40px;
    }
    
    .subnav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 650px;
        
    }
    
    ul{
       display: none;
    }
    
    .hpa{
        gap: 4;
        width: 100%;
        line-height: 1.2;
    }
    
    h1{
        font-size: 40px;
        font-weight: 900;
    }
    .p{
        width: 70%;
        font-size: 15px;
        font-weight: 500;
    }

    .waitlist2 {
        padding: 1rem 2.5rem;
        background-color: rgb(104, 104, 218);
        border-radius: 30px;
        color: white;
        border: none;
        font-size: 16px;
    }
    
    .waitlist {
       display: none;
    }
    
    header{
        display: block;
        align-items: center;
    }
    
    .hd{
        width: 100%;
    }
    
    .move{
        margin-top: 20%;
        margin-bottom: 5%;
    }
    
    .bbc{
     display: none;
    }
    .wf{
            text-align: center;
    }
    .wp{
        width: 100%;
        padding: 5%;
        font-size: 30px;
        font-weight: 900;
    }
    
    h4{
        padding: 0 20px;
        text-align: left;
        font-size: 20px;
        font-weight: 500;
    }
    .lol{
        display: block;
        gap: 1px;
        margin: 14px auto 0;
        align-items: center;
    }
    
    .one{
        text-align: center;
        width: 600px;
        margin-bottom: 8px;
        height: 450px;
        background-color: #eceeff;
    }
    
    img{
        width: 17rem;
    }
    
    .wto{
        text-align: center;
        padding: 30px;
    }
    
    .two{
        display: block;
        place-items: center;

    
    }
    .two:nth-of-type(odd){
        flex-direction: row-reverse;
        margin: 0px;
    }
    p{  
        line-height: 1.4;
        font-size: 13px;
    }
    
    .hp2{
        width: 550px;
        line-height: 1;
    }
    
    .img2{
        width: 28rem;
    }
    
    .Fqa{
        text-align: center;
        padding: 29px;
        
    }
   
        
    .empty{
        left: 51px;
        top: -14px;
        height: 400px;
        width: 500px;
    }
    
    
    
    .input{
        text-align: center;
        background-color: #eceeff;
        height: 500px;
        width: 500px;
        margin: 150px auto ;     
    }
    .fqa{
        width: 600px;
    }


    .jayson{
        padding-top: 100px;
        margin: 0;
        padding-bottom: 0;
        font-size: 40px;
        font-weight: 500;
    }

    
    .three{
        width: 370px;
    }
}
